body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  width: 30%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form button {
  width: 15%;
  height:62px;
  padding: 10px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  background-color: #2b923c;
  color: #fff;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #3e8e41;
}

.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list li {
  margin: 20px;
  width: 200px;
}

.movie-list img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-list h2 {
  font-size: 18px;
  margin-top: 10px;
  color: white;
}

.movie-list p {
  font-size: 14px;
  color: #9f9f9f;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content input[type="checkbox"] {
  margin-right: 10px;
}

.modal-content input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.modal-content button[type="submit"] { background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; }