body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  width: 30%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form button {
  width: 15%;
  height:62px;
  padding: 10px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  background-color: #2b923c;
  color: #fff;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #3e8e41;
}

.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list li {
  margin: 20px;
  width: 200px;
}

.movie-list img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-list h2 {
  font-size: 18px;
  margin-top: 10px;
  color: white;
}

.movie-list p {
  font-size: 14px;
  color: #9f9f9f;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #d3d3d3;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center   
  content vertically */
  padding: 20px
}

.modal-content-inner {
  display: flex; /* Create a flex container for the content and button */
  align-items: center; /* Center items vertically within this container */
  width: 100%; /* Ensure the content and button fill the width of the modal */;
}

.modal-content h2 {
  margin-top: 0;
  padding: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content input[type="checkbox"] {
  margin-right: 10px;
}

.modal-content input[type="password"] {
  width: 80%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
}

.modal-content button[type="submit"] { 
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; }

.movie-image {
  border: 1px solid transparent; /* Set initial border to transparent */
  cursor: pointer;
}

.movie-image:hover {
  border: 1px solid white; /* Add white outline on hover */
}

.close-button {
  margin-top: -px;
  margin-left: auto; /* Move the button to the right side */
}

.loading {
  color: white;
}

.pagination-dock {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px; /* Increased spacing between buttons */
}

.pagination-dock button {
  padding: 10px 15px; /* Larger button size */
  font-size: 1.2rem;  /* Slightly larger font size */
  font-weight: bold;  /* Bold numbers */
  background-color: #007BFF; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.pagination-dock button:hover {
  background-color: #007BFF; /* Darker blue on hover */
}

.pagination-dock button:disabled {
  background-color: #CCCCCC; /* Grey color for disabled */
  cursor: not-allowed;
}
